TerraTestTrash/Service References/StorageRetrieverSvc/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://tst-web-app1.test.internal:81/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceReportTestApplication" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dStart" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dEnd" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceReportTestApplication" minOccurs="0" name="GetDataResult" nillable="true" type="q1:ArrayOfReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>