TerraTestTrash/Service References/ServiceSite/ServiceSite1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.15.153/ServiceSite.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceSite" />
  <xs:element name="BadRequest1">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BadRequest1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BadRequest1Result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BadRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceSite" minOccurs="0" name="badReq" nillable="true" type="q1:ServiceSite.BadReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BadRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BadRequestResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SMSSend">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hostUrl" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="productType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="productCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="formID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SMSSendResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServiceSite" minOccurs="0" name="SMSSendResult" nillable="true" type="q2:ServiceSite.ResulService" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrency">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrencyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfServiceSite" minOccurs="0" name="GetCurrencyResult" nillable="true" type="q3:ArrayOfServiceSite.Currency" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>