TerraTestTrash/Service References/ServiceSite/ServiceSite2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceSite" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceSite" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ServiceSite.BadReq">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorInto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsEnd" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsIntoOk" type="xs:boolean" />
      <xs:element minOccurs="0" name="NumberStep" type="xs:int" />
      <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="formID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="host" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="request" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceSite.BadReq" nillable="true" type="tns:ServiceSite.BadReq" />
  <xs:complexType name="ServiceSite.ResulService">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsError" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceSite.ResulService" nillable="true" type="tns:ServiceSite.ResulService" />
  <xs:complexType name="ArrayOfServiceSite.Currency">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceSite.Currency" nillable="true" type="tns:ServiceSite.Currency" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServiceSite.Currency" nillable="true" type="tns:ArrayOfServiceSite.Currency" />
  <xs:complexType name="ServiceSite.Currency">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PriceBuy" type="xs:double" />
      <xs:element minOccurs="0" name="PriceCB" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="PriceSale" type="xs:double" />
      <xs:element minOccurs="0" name="Sum" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceSite.Currency" nillable="true" type="tns:ServiceSite.Currency" />
</xs:schema>